@model IEnumerable<WebTicketBooking.DAL.Models.Ticket>

@{
    ViewData["Title"] = "All tickets";
}

<h1 align="center"><b>All tickets</b></h1>

<font color="red">
    @TempData["failAll"]
</font>
<br />

<p>
    <a asp-action="AddNewTicket" asp-controller="Ticket">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-action="GetTicketById" asp-controller="Ticket" asp-route-id="@item.Id">Details</a> |
                <a asp-action="UpdateTicket" asp-controller="Ticket" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-controller="Ticket" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
